<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Projects</title>
		<link rel="shorcut icon" type="image/png" href="/assets/img/icon.png">
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>
	<body>
		<div class="wrapper">
		<div class="side-div">
			<div class="nav-wrapper">
				<a class="avatar" href="/"><img src="https://avatars.githubusercontent.com/u/77435397?"></img></a>
				{% include nav.html %}
			</div>
		</div>
		<div class="centre-div">
			<div class="posts-container">
				{% for tag in site.tags %}
					{% if tag[0] == "project" %}
						{% for post in tag[1] limit:5 %}	
							<div class="posts-item">
							<a href="{{ post.url }}"><img class="posts-img" src="{{post.cover | asset_url}}"></img>						
							<div class="post-text"> 
								<span class="post-meta">{{ post.date | date: "%b %-d, %Y"}}</span>
								<a href="{{ post.url }}">{{ post.title }}</a>
							</div>
							</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	</body>
	<footer>
		{% include footer.html %}
	</footer>
